html{
 scroll-behavior: smooth;   
}
    
body{
    background-color: #0f0e17;
    height: 300vh;
   
}



 .links.active{
    display: block;
}
.hero-subtitle{
    font-family: 'Architects Daughter', cursive;
}
.hero-title{
    font-family: 'Glegoo', serif;
}
.text{
    font-family: 'Mulish', sans-serif;
}
.content{
    
        font-family: 'Mulish', sans-serif;

}
.promo-item{
    padding: 2px;
}
.container{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.img{
    display: flex;
    justify-content: center;
}
@keyframes slide{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(180%);
    }
}
.boy{
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    
}